body{
    background-image: linear-gradient(to bottom, #000000, #E60000, #F0F0F0);
    background-attachment: fixed;
}
h1{
    font-size: 1.774em;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p.navegacao{
    background-color: rgba(255, 0, 0, 0.233);
}
img.banner{
    position: center;
}
main{
    background-color: white;
    width: 700px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}